* {
    font-family: Tahoma, sans-serif.;
}

h1, h2, h3{
    font-family: Georgia, serif;
    font-weight: bold;
    color: white;
}

strong {
    font-family: 'Courier New', monospace;
    font-weight: bold;
    color:rebeccapurple;
}

body{
    background-color: gainsboro;
}
