* {
    font-family: Tahoma, sans-serif;
    color: darkslategrey;
}

h1, h2, h3{
    font-family: Georgia, serif;
    font-weight: bold;
    color: whitesmoke;
}

strong {
    font-family: 'Courier New', monospace;
    font-weight: bold;
    color:black;
}

body{
    background-color: darkgrey;
}
